!!!5
-gallery_image = ["explore_1","explore_2","explore_3"]
%html{class:"no-js", lang:"es"}
	%head
		%meta{charset:"utf-8"}
		%title Interactúa con la CDMX
		%link{rel:"stylesheet", href:"css/style.css"}
		%link{rel:"stylesheet", href:"css/creative.min.css"}
		%meta{name:"viewport", content:"width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"}
		%link{rel:"stylesheet",href:"css/bootstrap.css"}
		%link{rel:"stylesheet", href:"css/bootstrap.min.css"}
		%link{rel:"stylesheet", href:"css/normalize.css"}
		%link{rel:"stylesheet", href:"https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css"}
		%link{rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=Hind|Indie+Flower"}
		%link{href:"vendor/font-awesome/css/font-awesome.min.css", rel:"stylesheet"}
		%link{rel:"stylesheet", href:"/css/font-awesome.min.css"}

		%script{src:"http://code.jquery.com/jquery-latest.js"}
		%script{src:"js/vendor/modernizr-2.8.3.min.js"}


	%body
		.video-container
			%video{autoplay:true, loop:true, width:"100%",height:"100%",poster:"/video/snap.jpg"}
				%source{src:"video/MP4/Symmetric-Traffic.mp4",typ:"video/mp4"}
				%source{src:"video/WEBM/Symmetric-Traffic.webm",typ:"video/webm"}
		.nav
			%nav#navigation
				.row
					.col-xs
						.box
							.leftside
								.row
									.col-md-3.col-lg-6
										%i.fa.fa-4x.fa-lightbulb-o.white-text
									.col-md-9.col-lg-6#name-nav
										%p.font.white-text.hindy Explorando CDMX
					.col-md
						.box	
							.rightside
								%ul.list-inline
									%li
										%a{href:"#"}
											Inicio
									%li
										%a{href:"#portfolio"}
											Explora la Ciudad
									%li
										%a{href:"#discover"}
											Cómo Funciona
									%li 
										%a{href:"#crew"}
											Nuestro Crew
										
			.decription
				%p.white-text.hindy Descubre los lugares mágicos de la CDMX 

		
		.row.absolute.full-height
			.col-md.middle-xs#explore
				.box
					%h2.white-text.indie ¡Explorando ando!
					%p.white-text.hindy 
						Conoce la 
						%strong.white-text CDMX 
						como nunca antes
					.btn.btn-primary.btn-lg{href:"#"} Muéstrame Cómo
		
		.row#discover
			.col-md-6
				.box
					%h3.white-text.hindy
						Explora la CDMX con una Playera Interactiva
				.row#colms
					.col-md-4
						.box
							%i.fa.fa-4x.fa-diamond.blue-text
							%p Playeras Premium
							%p.gray-text Playera Souvenir con Diseños Innovadores y Artísticos
					.col-md-4
						.box
							%i.fa.fa-4x.fa-qrcode.blue-text
							%p Tecnología QR
							%p.gray-text Redireccionamiento por medio de un código QR	
					.col-md-4
						.box
							%i.fa.fa-4x.fa-lightbulb-o.blue-text
							%p Contenido Histórico
							%p.gray-text Acceso a contenido audiovisual	de carácter histórico/cultural
			
			.col-md-6
				.box
					%img{src:"/img/template/playera_templo.png"}
		%section.no-padding#portfolio
			.container-fluid
				.row
					.col-md
						%h1.hindy Explora La Ciudad de México
				.row.no-gutter.popup-gallery
					.col-lg-4.col-sm-6
						%a.portfolio-box{href:""}
							%img.img-responsive{src:"/img/explore/explore_1.jpg"}
								.portfolio-box-caption
									.portfolio-box-caption-content
										.project-category.text-faded
											Categoría:
										.project-name
											Monumentos Patrimoniales
					.col-lg-4.col-sm-6
						%a.portfolio-box{href:""}
							%img.img-responsive{src:"/img/explore/explore_2.jpg"}
								.portfolio-box-caption
									.portfolio-box-caption-content
										.project-category.text-faded
											Categoría:
										.project-name
											Vestígios Arqueológicos
					.col-lg-4.col-sm-6
						%a.portfolio-box{href:""}
							%img.img-responsive{src:"/img/explore/explore_3.jpg"}
								.portfolio-box-caption
									.portfolio-box-caption-content
										.project-category.text-faded
											Categoría:
										.project-name
											Arquitectura Contenmporánea

		.row.absolute#crew
			.col-md-12
				.box
					%h3.w3-blue Nuestro Crew
					.card		
						%img{src:"/img/foto.jpg"}
						%h2.white-text Enríque Esquivel Islas
						%p Estudiante de Historia
						%strong Facultad de Filosoía en la UNAM
						%ul.list-inline.medium.white-text#cirles-links
						%li
							%i.fa.fa-facebook.footer-links							
						%li
							%i.fa.fa-twitter.footer-links
						%li
							%i.fa.fa-linkedin
	%footer.relative
		.black-row-2.text-center.full-width#footer-widget-section
			.row.margin-0
				.col-sm-4.col-xs-12.footer-block.corner#footer-logo
					%table
						%tr		
							%th
								%a{href:"#"}
									%i.fa.fa-3x.fa-lightbulb-o.white-text 
									%p.white-text Explorando CDMX
					%p.align-center.white-text.ph
						Continually matrix cross functional opportunities whereas ethical information. Compellingly streamline enabled human capital before resource-leveling internal or "organic".
				.col-sm-4.col-xs-6.footer-block#footer-description
					%h5.white-text.subtitle
						We Work For 
						%strong.white-text.subtitle You
					%p.align-center.white-text
						Distinctively expedite viral materials rather than out-of-the-box solutions. Credibly empower revolutionary ROI rather than unique products. Collaboratively maximize principle-centered ideas before highly efficient data. Phos-
						fluorescently.
				.col-sm-4.col-xs-6#contact-footer
					%h5.white-text.subtitle  Contact Us Today
					%p.align-center.white-text
						Call Us 666 777 888 OR 111 222 333
						Send an Email on contact
						@domain.com Visit Us 123 Fake Street- Blla 12358
						Fake Kingdom
					%ul.list-inline.medium.white-text#cirles-links
						%li
							%i.fa.fa-facebook.footer-links							
						%li
							%i.fa.fa-twitter.footer-links
						%li
							%i.fa.fa-skype.footer-links
						%li
							%i.fa.fa-whatsapp.footer-links

		.black-row-3
			.row.middle-xs.margin-0
				.col-md-6.col-xs-12#footer-copyright
					.box
						%p.medium2.white-text
							© 2013-2016 YourEssayWritten.com - All Rights Reserved. Professional Essay Writing Service.
				.col-md-6.col-xs-12
					.box
						%nav#footer-nav
							%ul.list-inline.white-text.align-right
								%li
									%a{href:"#top"} Home
								%li
									%a About Us
								%li
									%a F.A.Q.
								%li
									%a Our Rates
								%li
									%a{href:"#contact"} 
										%strong ¡Order Now!	

	%script{src:"https://code.jquery.com/jquery-3.1.0.min.js", integrity:"sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin:"anonymous"}
	:javascript
		window.jQuery || document.write("<script src='/js/vendor/jquery-1.12.0.min.js'><\/script>");
